#This configuration file is used by all baaz service scripts, and is separate                                                               
#from the Ansible hosts file. This should live in /var/Baaz/hosts.cfg.                                                                      
#author: Prithvi Pandian                                                                                                                    

[MongoDB]
server = {{ dbsilo1_mongo_master_dns_name }}

[RabbitMQ]
server = {{ rabbit_dns_name }}
username = {{ rabbitmq_username }}
password = {{ rabbitmq_password }}

[Redis]
server = {{ dbsilo1_redis_master_dns_name }}
sentinels = {{ dbsilo1_redis_master_dns_name }}

{% if groups['tag_Name_RedisCache'] is defined %}
[RedisCache]
server = {{ redis_cache_dns_name }}
port = {{ redis_cache_port }}
{% endif %}

[Elasticsearch]
server = {{ dbsilo1_elasticsearch_master_dns_name }}

[mode]
usingAWS = true

[ApplicationConfig]
mode = {{ mode }}
clusterName = {{ clusterName }}
redisMasterPattern = {{ dbsilo_redis_master_dns_pattern }}
dnsZoneName = {{ dnsZoneName }}
alertEmail = {{ alertEmail }}
alertPassword = {{ alertPassword }}
domain = {{ url }}
