[Unit]
Description=Redis register host
After=redis-server.service
Requires=redis-server.service

After=redis-sentinel.service
Requires=redis-sentinel.service

[Timer]
OnCalendar=*:0/1

[Install]
WantedBy=multi-user.target
