[Unit]
Description=Register host
After=redis-server.service
Requires=redis-server.service

After=redis-sentinel.service
Requires=redis-sentinel.service

After=navoptenv.path
Wants=navoptenv.path

[Service]
Type=oneshot
ExecStart=/usr/local/bin/redis-register-master-hostname
User=redis
Group=redis

[Install]
WantedBy=multi-user.target
