#This hosts.j2 file is used to generate the file /var/Baaz/hosts.cfg.

[MongoDB]
server = {{ services.mongodb.servers | join (",") }}

[RabbitMQ]
server = {{ services.rabbitmq.server | join (",") }}
username = {{ services.rabbitmq.username }}
password = {{ services.rabbitmq.password }}

[Redis]
server = {{ services.redis.server }}
sentinels = {{ services.redis.sentinels | join(",") }}
mastername = {{ services.redis.mastername }}

[RedisLog]
server = {{ services.redislog.server }}

[Elasticsearch]
server = {{ services.elasticsearch.servers[0] }}

[mode]
usingAWS = true

[ApplicationConfig]
mode = {{ application.mode }}
clusterName = {{ application.cluster_name }}
redisMasterPattern = {{ application.redisMasterPattern }}
dnsZoneName = {{ application.dnsZoneName }}
zipkinSampleRate = {{ application.zipkinSampleRate }}
zipkinUrl = {{ application.zipkinUrl }}