#This configuration file is used by all baaz service scripts, and is separate                                                               
#from the Ansible hosts file. This should live in /var/Baaz/hosts.cfg.                                                                      
#author: Prithvi Pandian                                                                                                                    
#Redis server refers to the redis MASTER, slaves will be auto-discovered/configured 

[MongoDB]
server = {{ services.mongodb.servers | join (",") }}

[RabbitMQ]
server = {{ services.rabbitmq.server }}

[Redis]
server = {{ services.redis.server }}
sentinels = {{ services.redis.sentinels | join(",") }}
mastername = {{ services.redis.mastername }}

[Elasticsearch]
server = {{ services.elasticsearch.servers | join(",") }}

[mode]
usingAWS = true

[ApplicationConfig]
mode = {{ application.mode }}
clusterName = {{ application.cluster_name }}
