#This configuration file is used by all baaz service scripts, and is separate                                                               
#from the Ansible hosts file. This should live in /var/Baaz/hosts.cfg.                                                                      
#author: Prithvi Pandian                                                                                                                    
#Redis server refers to the redis MASTER, slaves will be auto-discovered/configured 

[MongoDB]
{% for group in groups %}
{% if group | match('tag_Name_MongoDBServer*') %}
{{ group | replace ('tag_Name_MongoDB','') | lower }} = {{ groups[group] | join(",") }}
{% endif %}
{% endfor %}

[RabbitMQ]
server = {{ groups['tag_Name_QueueServer'] | join(",") }}

[Redis]
server = {{ groups['tag_Name_Redis'][0] }}
sentinels = {{ groups['tag_Name_Backoffice'] | join(",") }}

[Elasticsearch]
server = {{ groups['tag_Name_ElasticSearch'][0] }}

[mode]
usingAWS = true

[ApplicationConfig]
mode = {{mode}}
clusterName = {{clusterName}}
clusterRootIP = {{ ansible_eth0["ipv4"]["address"] }}