#This configuration file is used by all baaz service scripts, and is separate
#from the Ansible hosts file. This should live in /var/Baaz/hosts.cfg. 
#author: Prithvi Pandian

[MongoDB]
server={{ groups['tag_Name_MongoDBServer']|join(',') }}

[RabbitMQ]
server={{ groups['tag_Name_QueueServer'][0] }}

[mode]
usingAWS = true

[GoogleAuth]
returnURL={{returnURL}}
realm={{realm}}
